.search-wrapper {
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

input {
  font-size: 1rem;
}

.user-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: .25rem;
  margin-top: 1rem;
}

.card {
  border: 1px solid black;
  background-color: white;
  padding: .5rem;
}

.card > .header {
  margin-bottom: .25rem;
}

.card > .body {
  font-size: .8rem;
  color: #777;
}

.hide {
  display: none;
}





/*Simulate page content*/
.main-content{
  width: 100%;
  height: 100vh;
  background: url("https://source.unsplash.com/random/4000x4000") center no-repeat;
  background-size: cover;
}

.switch-button {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 30px;
}

.switch-input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-label {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background-color: white;
  cursor: pointer;
  position: relative;
}

.switch-label .toggle {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: white;
  transition: transform 0.3s ease-in-out;
}

.switch-input:checked + .switch-label .toggle {
  transform: translateX(30px);
  
}

.switch-label:active .toggle {
  transform: translateX(30px);
}

.switch-label .toggle:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
}

.switch-label .toggle:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
}